<div class="footer-masthead">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 current-time text-center-xs">
                    <i class="glyphicon glyphicon-time"></i> All times are GMT -5. The time now is <span class="time">05:14 AM</span>.
                </div>
                <div class="col-sm-5 text-right text-center-xs">
                    <div class="btn-group btn-group-sm hidden-lg hidden-md " role="group" aria-label="View Desktop Site">
                        <button type="button" class="btn btn-default btn-outline toggle-desktop" data-desktop="1">
                            <i class="fa fa-desktop fa-fw"></i> Desktop Site
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Top">
                        <button type="button" class="btn btn-default btn-outline" id="jump-to-top">
                            <i class="glyphicon glyphicon-chevron-up"></i> Top
                        </button>
                    </div>
                </div>
            </div>
        </div>
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row hidden-sm hidden-xs">
            <div class="col-md-3">
                <ul class="nav nav-list">
                    <li class="nav-header">Explore</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav nav-list">
                    <li class="nav-header">Community</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav nav-list">
                    <li class="nav-header">Info</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="nav nav-list follow-us">
                    <li class="nav-header">Follow us</li>
                    <li>
                        <a href="#" target="_blank" class="text-social-twitter">
                            <i class="fa fa-twtr-square fa-lg"></i> Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="text-social-facebook">
                            <i class="fa fa-fbook-square fa-lg"></i> Facebook
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row hidden-lg hidden-md">
            <div class="col-sm-12 text-center">
                <ul class="list-inline">
                    <li><a href="#">Explore</a></li>
                    <li><a href="#">Leaderboards</a></li>
                    <li><a href="#">Users</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-12 text-center">
                <ul class="list-inline follow-us">
                    <li>
                        <a href="#" target="_blank" class="text-social-twitter">
                            <i class="fa fa-twitter fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank" class="text-social-facebook">
                            <i class="fa fa-fbook-square fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 text-center-xs">
                    News-Monitors
                </div>
            </div>
        </div>
    </div>
</footer>
