<div ng-include="'components/navbar/navbar.html'"></div>
<div class="section-header">
  <div class="title-container">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Search</h1>
        </div>
        <div class="col-md-8 text-right">
          <form ng-submit="search(searchText)" class="form-horizontal">
            <input type="hidden" name="s" value="">
            <input type="hidden" name="securitytoken" value="guest">
            <input type="hidden" name="do" value="results">
            <div class="flextable">
              <div class="flextable-item flextable-primary">
                <div class="input-group input-group-lg">
                  <input ng-model="searchText" type="text" class="form-control" id="tb_query" name="query" value="" placeholder="Search for games, gamertags, etc...">
                  <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" tabindex="1">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                </div>
              </div>
              <div class="flextable-item">
                <div class="btn-group btn-group-lg" role="group" aria-label="Filter">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-filter"></i><span class="hidden-sm hidden-xs"> Filter</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right dropdown-menu-filters">
                    <li class="nav-header" role="presentation">Search for</li>
                    <li role="presentation">
                      <a href="#" role="menuitem" tabindex="-1">
                        <i class="fa fa-check-square fa-fw icon-status"></i> Game
                      </a>
                      <input type="hidden" name="options[game]" value="1">
                    </li>
                    <li role="presentation">
                      <a href="#" role="menuitem" tabindex="-1">
                        <i class="fa fa-check-square fa-fw icon-status"></i> Gamertag
                      </a>
                      <input type="hidden" name="options[gamertag]" value="1">
                    </li>
                    <li role="presentation">
                      <a href="#" role="menuitem" tabindex="-1">
                        <i class="fa fa-check-square fa-fw icon-status"></i> Achievements
                      </a>
                      <input type="hidden" name="options[achievements]" value="1">
                    </li>
                    <li role="presentation">
                      <a href="#" role="menuitem" tabindex="-1">
                        <i class="fa fa-check-square fa-fw icon-status"></i> Leaderboard
                      </a>
                      <input type="hidden" name="options[leaderboard]" value="1">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /title-container -->
</div>
<!-- /section-header -->
<div class="outer-container">
  <section ng-if="!isSearched" class="section-wrapper section-wrapper-lightgray thumbnails">
    <div class="container solo">
      <div class="section-title row">
        <div class="col-xs-12">
          <h2>Discover</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail thumbnail-games thumbnail-search">
            <a href="#" class="gamethumb background">
              <div class="text-center">
                <i class="fa fa-gamepad fa-4x"></i>
              </div>
            </a>
            <div class="caption">
              <div class="title-wrapper">
                <h4><a href="#">Games</a></h4>
              </div>
              <p class="text-sm text-muted">Explore the latest games and activity from the community</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail thumbnail-games thumbnail-search">
            <a href="#" class="gamethumb background">
              <div class="text-center">
                <i class="fa fa-trophy fa-4x"></i>
              </div>
            </a>
            <div class="caption">
              <div class="title-wrapper">
                <h4><a href="#">Achievements</a></h4>
              </div>
              <p class="text-sm text-muted">Explore and track the latest achievements for games you're interested in</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail thumbnail-games thumbnail-search">
            <a href="#" class="gamethumb background">
              <div class="text-center">
                <i class="fa fa-line-chart fa-4x"></i>
              </div>
            </a>
            <div class="caption">
              <div class="title-wrapper">
                <h4><a href="#">Leaderboards</a></h4>
              </div>
              <p class="text-sm text-muted">See where you stack up and explore custom leaderboards</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail thumbnail-games thumbnail-search">
            <a rel="nofollow" href="#" class="gamethumb background">
              <div class="text-center">
                <i class="gtnicon gtnicon-social-xbox gtnicon-4x"></i>
              </div>
            </a>
            <div class="caption">
              <div class="title-wrapper">
                <h4><a rel="nofollow" href="#">Gamertags</a></h4>
              </div>
              <p class="text-sm text-muted">Explore the top gamertags and search for other gamers registered on the site</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail thumbnail-games thumbnail-search">
            <a href="#" class="gamethumb background">
              <div class="text-center">
                <i class="gtnicon gtnicon-sheriff-badge gtnicon-4x"></i>
              </div>
            </a>
            <div class="caption">
              <div class="title-wrapper">
                <h4><a href="#">New Game Releases</a></h4>
              </div>
              <p class="text-sm text-muted">Check out the latest released games</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="thumbnail thumbnail-games thumbnail-search">
            <a href="#" class="gamethumb background">
              <div class="text-center">
                <i class="fa fa-comments fa-4x"></i>
              </div>
            </a>
            <div class="caption">
              <div class="title-wrapper">
                <h4><a href="#">Top Rated Games</a></h4>
              </div>
              <p class="text-sm text-muted">Explore the Top Rated games as voted on by our community</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section ng-if="!isSearched" class="section-wrapper section-wrapper-white thumbnails">
    <div class="container solo">
      <div class="section-title">
        <h2>Browse Games by Platform</h2>
      </div>
      <ul class="list-unstyled row supported-platforms">
        <li class="col-lg-2 col-md-4 col-xs-6 mar-no-lg">
          <a href="#" class="text-platform-ONE" data-toggle="tooltip" data-container="body" title="" data-original-title="Xbox One">
            <i class="gtnicon gtnicon-social-xbox"></i>
            <span>
                            Xbox One
                        </span>
          </a>
        </li>
        <li class="col-lg-2 col-md-4 col-xs-6 mar-no-lg">
          <a href="#" class="text-platform-360" data-toggle="tooltip" data-container="body" title="" data-original-title="Xbox 360">
            <i class="gtnicon gtnicon-social-xbox"></i>
            <span>
                            Xbox 360
                        </span>
          </a>
        </li>
        <li class="col-lg-2 col-md-4 col-xs-6 mar-no-lg">
          <a href="#" class="text-platform-WIN" data-toggle="tooltip" data-container="body" title="" data-original-title="Windows 10">
            <i class="gtnicon gtnicon-windows"></i>
            <span>
                            Windows 10
                        </span>
          </a>
        </li>
        <li class="col-lg-2 col-md-4 col-xs-6 mar-no-lg mar-no-md">
          <a href="#" class="text-platform-WIN" data-toggle="tooltip" data-container="body" title="" data-original-title="Play Station">
            <i class="gtnicon gtnicon-windows"></i>
            <span>
                            Play Station
                        </span>
          </a>
        </li>
      </ul>
    </div>
  </section>
  <div ng-if="isSearched" class="container right">
    <div class="row">
      <div class="content">
        <div class="row search-options">
          <div class="col-md-12">
            <p class="lead">Found <strong>{{searchedData.length}}</strong> results for "<strong>{{searchText}}</strong>"</p>
          </div>
        </div>
        <hr>
        <div class="section-title row">
          <div class="col-sm-12">
            <h3>All <span class="text-muted">({{searchedData.length}} results)</span></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="item in searchedData">
            <div class="thumbnail thumbnail-games">
              <a ui-sref="games.overview({gameId: item.ID})"  target="_blank" class="gamethumb background custom" style="background-image:url('{{item.Images[0].Url}}');">
              </a>
              <div class="caption">
                <div class="title-wrapper">
                  <h4>
                    <a ui-sref="games.overview({gameId: item.ID})" target="_blank" title="{{item.Name}}">{{item.Name}}</a>
                  </h4>
                  <p class="text-sm text-platform text-platform-360">
                    Rating: {{item.AllTimeAverageRating | limitTo : 4}}
                  </p>
                </div>
                <p class="text-sm text-muted">
                  <i class="fa fa-folder fa-fw"></i> <a href="https://www.gamertagnation.com/games/genre/1/">{{item.MediaItemType}}</a>
                </p>
                <p class="text-sm text-muted">
                  <i class="ui-game-icon ui-game-icon-flag ui-game-icon-flag-United_States inlineimg" title="United States"></i> {{item.ReleaseDate | limitTo : 10}}
                </p>
                <p class="text-sm text-muted">
                  <i class="fa fa-users fa-fw"></i> {{item.AllTimePlayCount}} Members
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
